<div class="text-center m-3">
  <h1>Login Page</h1>
</div>

<div class="container w-50">
  <%= form_with url: user_login_path, scope: :user do |form| %>

    <div class="row py-3">
      <div class="col-6 col-sm-3">
        <%= form.label :email, class: "form-label" %>
      </div>
      <div class="col-6">
        <%= form.email_field :email, required: true, class: "form-control" %>
      </div>
    </div>

    <div class="row py-3">
      <div class="col-6 col-sm-3">
        <%= form.label :password, class: "form-label" %>
      </div>
      <div class="col-6">
        <%= form.password_field :password, required: true, class: "form-control" %>
      </div>
    </div>

    <div class="row py-3">
      <div class="col-6 col-sm-3">
        <%= form.label :remember_me, class: "form-label" %>
        <%= form.check_box :remember_me %>
      </div>
    </div>

    <div class="mx-auto text-center">
      <%= form.submit "Sign In", class: "btn btn-success" %>
    </div>
  <% end %>

  <div class="text-center m-2">
    <%= link_to 'Sign Up', user_sign_up_path, class: 'btn btn-info text-light' %>
  </div>
</div>